<p id="notice"></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 pb-3">
      <%= render 'error_messages', model: @game %>
      <h3>投稿情報編集</h3>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <%= form_with model:@game,local:true do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>タイトル：</td>
          </tr>
          <tr>
            <td><%= f.text_field :title,autofocus: true %></td>
          </tr>
          <tr>
            <td>ジャンル：</td>
          </tr>
          <tr>
            <td><%= f.collection_select :genre_id,Genre.all,:id,:name%></td>
          </tr>
          <tr>
            <td>本文：</td>
          </tr>
          <tr>
            <td><%= f.text_area :body,autofocus: true %></td>
          </tr>
          <tr>
            <td><%= f.submit "更新",class:'btn btn-success' %></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>