<p id="notice"></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h4>新規登録</h4>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td width="30%">ユーザー名</td>
            <td width="30%"><%= f.text_field :name, autofocus: true %></td>
            <td width="40%"></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email, autofocus: true %></td>
            <td></td>
          </tr>
          <tr>
            <td>パスワード</td>
            <td><%= f.password_field :password, autocomplete: "new-password" %></td>
            <td></td>
          </tr>
          <tr>
            <td>パスワード（確認用）</td>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
            <td></td>
          </tr>
          <tr>
            <td><%= f.submit "新規登録",class:"btn btn-success btn-sm" %></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6"></div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <p>すでに登録済の方は<%= render "devise/shared/links" %>からログイン</p>
    </div>
  </div>
</div>