<% if @model == "user" %>
  <h3><%= @value %>の検索結果</h3>
  <% @datas.each do |user| %>
    <%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
    <%= user.name %>
    <%= user.introduction %></br>
  <% end %>
<% elsif @model == "game" %>
  <h3><%= @value %>の検索結果</h3>
  <% @datas.each do |game| %>
    <%= game.user.name %>
    <%= game.title %>
    <%= game.genre.name %>
    <%= game.body %></br>
  <% end %>
<% end %>