<p id="notice"></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-11 py-5">
      <h3>新規投稿</h3>
    </div>
  </div>
  <%= form_with model:@game, url:games_path,local:true do |f| %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>タイトル</td>
          </tr>
          <tr>
            <td><%= f.text_field:title %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
          </tr>
          <tr>
            <td><%= f.collection_select :genre_id,Genre.all,:id,:name%></td>
          </tr>
          <tr>
            <td>本文</td>
          </tr>
          <tr>
            <td><%= f.text_area:body %></td>
          </tr>
          <tr>
            <td><%= f.submit "投稿" %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
  <% end %>
</div>