<p id="notice"></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 my-5">
      <h3>ユーザー情報編集</h3>
    </div>
  </div>
  <%= form_with model:@user,url:admin_user_path,method: :PATCH,local:true do |f| %>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td width="20%">ユーザー名</td>
            <td width="40%"><%= f.text_field :name, autofocus: true %></td>
            <td width="40%"></td>
          </tr>
          <tr>
            <td>自己紹介</td>
            <td><%= f.text_area :introduction, autofocus: true %></td>
            <td></td>
          </tr>
          <tr>
            <td>プロフィール画像</td>
            <td><%= f.attachment_field :profile_image %></td>
            <td></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= f.email_field :email,autofocus: true %></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td><%= f.submit "　保存する　",class:'btn btn-sm btn-success'%></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3"></div>
  </div>
  <% end %>
</div>